.DS_Store

/xcode/PipelineSample.xcodeproj/xcuserdata/

/xcode/PipelineSample.xcodeproj/project.xcworkspace/xcuserdata/

/xcode/Cinder-Tessellation.xcodeproj/xcuserdata/

/xcode/Cinder-Tessellation.xcodeproj/project.xcworkspace/xcuserdata/

/xcode/Cinder-Tessellation.xcodeproj/project.xcworkspace/xcshareddata/

/xcode/build/
