.DS_Store

/xcode/Cinder-Tessellation.xcodeproj/xcuserdata/
/xcode/Cinder-Tessellation.xcodeproj/project.xcworkspace/xcuserdata/
/xcode/Cinder-Tessellation.xcodeproj/project.xcworkspace/xcshareddata/
/xcode/build/

*.tlog
/vc2012/Debug/
/vc2012/Release/